{
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "plugins": [
    "prettier-plugin-organize-imports",
    "prettier-plugin-sh",
    "prettier-plugin-sort-json",
    "prettier-plugin-toml",
    "prettier-plugin-toml",
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "printWidth": 160,
  "singleQuote": true,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": true,
  "svelteSortOrder": "options-styles-scripts-markup",
  "svelteStrictMode": true,
  "tailwindStylesheet": "src/app.css",
  "trailingComma": "none",
  "useTabs": false
}
